<div id="<%= dom_id wizard %>">
  <p>
    <strong>Name:</strong>
    <%= wizard.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= wizard.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= wizard.password %>
  </p>

  <p>
    <strong>House:</strong>
    <%= wizard.house %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= wizard.bio %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= wizard.birthday %>
  </p>

  <p>
    <strong>Relatives:</strong>
    <%= wizard.relatives %>
  </p>

</div>
